<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mail.Mapper.BusinessMapper">
    <select id="queryBusinessList" resultType="Business">
        select * from business
    </select>
    <select id="queryBusinessById" resultType="Business">
        select * from business where bid = #{bid}
    </select>
    <select id="addBusiness" parameterType="Business">
        insert into business (bid,name,account,password,introduction) values (#{bid},#{name},#{account},#{password},#{introduction})
    </select>
    <select id="updateBusiness" parameterType="Business">
        update business set name=#{name},account=#{account},password=#{password},age=#{introduction} where bid = #{bid}
    </select>
    <select id="deleteBusiness" parameterType="int">
        delete from business where bid = #{bid}
    </select>
    <select id="selectIdMaxBusiness" resultType="int">
        select MAX(bid) from business
    </select>
    <select id="selectBusinessLogin" resultType="Business">
        select * from business where account=#{account} and password = #{password}
    </select>
</mapper>