<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mail.Mapper.GoodsMapper">
    <select id="searchGoods" resultType="Goods">
        select * from goods
        <where>
            <if test="gid != 0">
                and gid = #{gid}
            </if>
            <if test="bid != 0">
                and bid = #{bid}
            </if>
            <if test="type != '0'.toString()">
                and type = #{type}
            </if>
        </where>
    </select>
    <select id="queryGoodsList" resultType="Goods">
        select * from goods
    </select>
    <select id="queryGoodsByGid" resultType="Goods">
        select * from goods where gid = #{gid}
    </select>
    <select id="queryGoodsByBid" resultType="Goods">
        select * from goods
        <where>
            <if test="bid != 0">
                and bid = #{bid}
            </if>
        </where>
    </select>
    <select id="queryGoodsByType" resultType="Goods">
        select * from goods where type = #{type}
    </select>
    <select id="addGoods" parameterType="Goods">
        insert into goods (gid,bid,name,type,price,count,introduction) values (#{gid},#{bid},#{name},#{type},#{price},#{count},#{introduction})
    </select>
    <select id="updateGoods" parameterType="Goods">
        update goods set name=#{name},type=#{type},price=#{price},count=#{count},introduction=#{introduction} where gid = #{gid}
    </select>
    <select id="deleteGoods" parameterType="int">
        delete from goods where gid = #{gid}
    </select>
    <select id="selectIdMaxGoods" resultType="int">
        select MAX(gid) from goods
    </select>
</mapper>